zone = "us-central1-a"

region  = "us-central1"

user_name = "gce"

machine_type = "n1-standard-1"

count_worker = 1

count_manager = 1

project  = "gce-hadoop"

subnet  = "subnetwork"

ip_cidr_range_public = "10.10.0.0/24"

key_ssh = "~/.ssh/id_rsa.pub"

publ_net_firewall_port_UDP =["0-65535"]

publ_net_firewall_port_TCP =["0-65535"]
