ip_slaves: "{{ groups['gcp_machine_worker'] | map('extract', hostvars, ['ansible_default_ipv4', 'address']) | list }}"
ip_master: "{{ groups['gcp_machine_manager'][0] }}"

ip_internal_master: "{{ hostvars[ip_master]['ansible_default_ipv4']['address']}}"